.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 3em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 20%;
  margin-inline-start: 1em;
  transform: translate(-50%, -50%);
  background-color:blanchedalmond;
  border-radius: 10%;
  
}

.activeCard {
  color: red;
  background: pink;
}

div {
  font-family: cursive;
  text-align: center;
}

body {
  background-color: aliceblue;
}
